* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", Arial, Helvetica, sans-serif;
}

.formbold-mb-5 {
    margin-bottom: 15px;
}

.formbold-pt-3 {
    padding-top: 12px;
}

.formbold-main-wrapper {
    overflow: auto;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* đặt màu nền cho phần hiển thị đè */
    z-index: 1;
    /* đưa phần tử lên trên */

    display: flex;
    align-items: center;
    justify-content: center;

}

.formbold-form-wrapper {
    overflow: auto;
    padding: 20px;
    border-radius: 20px;
    position: relative;
    left: 25%;

    width: 40%;
    background: white;
}

.formbold-form-label {
    display: block;
    font-weight: 500;
    font-size: 16px;
    color: #07074d;
    margin-bottom: 12px;
}

.formbold-form-label-2 {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 20px;
}

.formbold-form-input {
    width: 100%;
    padding: 0px 24px;
    border-radius: 6px;
    border: 1px solid #e0e0e0;
    background: white;
    font-weight: 500;
    font-size: 16px;
    color: #6b7280;
    outline: none;
    resize: none;
}

.formbold-form-input:focus {
    border-color: #6a64f1;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
}

.formbold-btn {
    text-align: center;
    font-size: 16px;
    border-radius: 6px;
    padding: 14px 32px;
    border: none;
    font-weight: 600;
    background-color: #6a64f1;
    color: white;
    width: 100%;
    cursor: pointer;
}

.formbold-btn:hover {
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
}

.formbold--mx-3 {
    margin-left: -12px;
    margin-right: -12px;
}

.formbold-px-3 {
    padding-left: 12px;
    padding-right: 12px;
}

.flex {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

.w-full {
    width: 100%;
}

@media (min-width: 540px) {
    .sm\:w-half {
        width: 50%;
    }
}

#closeButton {
    position: relative;
    float: right;
    font-size: 25px;
}

.title {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    margin-bottom: 0px;
    margin-left: 30px;
}