/* ===== Google Font Import - Poformsins ===== */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    height: 95vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f2f2f2;
    background-image: linear-gradient(to right, #003a55, #75c3ff);
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    transform: scale(0.95);
    position: relative;
    width: 100%;
    background: rgba(255, 255, 255, 0);
    border-radius: 10px;
    overflow: hidden;
    margin: 0 20px;
}

#logoutMessage {
    border-radius: 20px;
    background: #ffffff68;
    height: 30px;
}

.alert.alert-danger {
    color: #ff0000;
    text-align: center;
    border-color: #ffffff00;
    background-color: #ffffff00;
    padding-top: 0%;
    padding-bottom: 0%;
    margin-top: 5%;
    margin-bottom: 0%;
    border-radius: 10%;
}

.container .forms {
    display: flex;
    align-items: center;
    background: #ffffff68;
    height: 100%;
    width: 100%;
    transition: height 0.2s ease;
}

.container .forms .banner {
    display: inline-block;
    width: 50%;
    height: 100%;
    background-image: url("https://courses.uet.vnu.edu.vn/loginform/images/UET-Banner.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.container .forms .form {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    vertical-align: center;
    align-items: center;
    display: inline-block;
    width: 50%;
    left: 50%;
    height: 100%;
    padding-top: 20%;
    padding-bottom: 20%;
    background-color: #ffffff70;
    transition: margin-left 0.18s ease;
}

.container .forms .form>* {
    margin-left: 5%;
    margin-right: 5%;
    align-self: center;
}

.container.active .login {
    margin-left: -50%;
    opacity: 0;
    transition: margin-left 0.18s ease, opacity 0.15s ease;
}

.container .signup {
    opacity: 0;
    transition: opacity 0.09s ease;
}

.container.active .signup {
    opacity: 1;
    transition: opacity 0.2s ease;
}

.container.active .forms {
    height: 600px;
}

.container .form .title {
    position: relative;
    font-family: sans-serif;
    display: table;
    margin-left: auto;
    margin-right: auto;
    font-size: 27px;
    font-weight: 600;
}

.form .title::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    height: 3px;
    width: 100%;
    background-color: #4070f4;
    border-radius: 25px;
}

input {
    border-radius: 20px;
}

.form .input-field {
    position: relative;
    height: 50px;
    width: 100%;
    margin-top: 30px;
    display: inline-block;
    align-items: center
}

.input-field input {
    position: absolute;
    height: 100%;
    width: 50%;
    margin-left: 25%;
    padding: 0 15px 0 35px;
    border: none;
    outline: none;
    font-size: 16px;
    border-bottom: 2px solid #ccc;
    border-top: 2px solid transparent;
    transition: all 0.2s ease;
}

.input-field input:is(:focus, :valid) {
    border-bottom-color: #4070f4;
}

.input-field i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #4e02ff;
    font-size: 23px;
    transition: all 0.2s ease;
}

.input-field input:is(:focus, :valid)~i {
    color: #4070f4;
}

.input-field i.icon {
    left: 25%;
}

.input-field i.showHidePw {
    right: 0;
    cursor: pointer;
    padding: 10px;
    margin-right: 25%
}

.form .checkbox-text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.checkbox-text .checkbox-content {
    display: flex;
    align-items: center;
}

.checkbox-content input {
    margin-right: 10px;
    accent-color: #4070f4;
}

.form .text {
    color: #333;
    font-size: 14px;
}

.form a.text {
    color: #4070f4;
    text-decoration: none;
}

.form a:hover {
    text-decoration: underline;
}

.form .button {
    margin-top: 35px;
}

.form .button input {
    width: 50%;
    left: 25%;
    border: none;
    color: #fff;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 6px;
    background-color: #4070f4;
    cursor: pointer;
    align-self: center;
    transition: all 0.3s ease;
}

.button input:hover {
    background-color: #265df2;
}

.form .login-signup {
    margin-top: 30px;
    text-align: center;
}