<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/navbar.css">
    <style>

    </style>
</head>

<body>
    <div id="dropdown">
        <button onclick="dropDown()" class="my-uet-logo">
            <img src="img/logo-myuet123456-color.png">
        </button>
        <div id="sidebar" class="sidebar-content">
            <div class="sidebar-link">
                <a href="http://localhost:3000">
                    <button class="sidebar-button">
                        <img src="img/home.svg">
                        <div class="sidebar-label">Home</div>
                    </button></a>
            </div>
            <div class="sidebar-link">
                <a href="http://localhost:3000/profile">
                    <button class="sidebar-button">
                        <img src="img/home.svg">
                        <div class="sidebar-label">Thông tin cá nhân</div>
                    </button></a>
            </div>
            <div class="sidebar-link">
                <a href="http://localhost:3000/courses-in-progress">
                    <button class="sidebar-button">
                        <img src="img/book.svg" id="booksvg">
                        <div class="sidebar-label">Các môn đang học</div>
                    </button></a>
            </div>
            <div class="sidebar-link">
                <a href="http://localhost:3000/completed-courses">
                    <button class="sidebar-button">
                        <img src="img/result.png" id="resultpng">
                        <div class="sidebar-label">Kết quả học tập</div>
                    </button></a>
            </div>
            <div class="sidebar-link">
                <a href="http://localhost:3000/attendance">
                    <button class="sidebar-button">
                        <img src="img/history.png">
                        <div class="sidebar-label">Lịch sử điểm danh</div>
                    </button>
                </a>
            </div>
            <div class="sidebar-link">
                <a href="http://localhost:3000/timetable">
                    <button class="sidebar-button">
                        <img src="img/schedule.png">
                        <div class="sidebar-label">Thời khóa biểu</div>
                    </button></a>

            </div>
            <div class="sidebar-link">
                <a href="https://uet.vnu.edu.vn/chuong-trinh-dao-tao-nganh-khoa-hoc-may-tinh-chat-luong-cao-3/">
                    <button class="sidebar-button">
                        <img src="img/curriculum.png">
                        <div class="sidebar-label">Chương trình đào tạo</div>
                    </button></a>
            </div>
        </div>
    </div>
</body>

<script>
    function dropDown() {
        document.getElementById("sidebar").classList.toggle("show");
    }

</script>