<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form method="POST" action="/store-student">
        <div class="mb-3">
            <label for="studentID">Mã sinh viên</label>
            <input type="text" class="form-control" id="studentID" name="studentID">
        </div>

        <div class="mb-3">
            <label for="course_class">Lớp khóa học</label>
            <input type="text" class="form-control" id="course_class" name="course_class">
        </div>
        <div class="mb-3">
            <label for="date_of_birth">Ngày sinh</label>
            <input type="text" class="form-control" id="date_of_birth" name="date_of_birth">
        </div>
        <div class="mb-3">
            <label for="sex">Giới tính</label>
            <input type="text" class="form-control" id="sex" name="sex">
        </div>
        <div class="mb-3">
            <label for="address">Địa chỉ</label>
            <input type="text" class="form-control" id="address" name="address">
        </div>
        <div class="mb-3">
            <label for="email">Email</label>
            <input type="text" class="form-control" id="email" name="email">
        </div>
        <div class="mb-3">
            <label for="phone_number">Số điện thoại</label>
            <input type="text" class="form-control" id="phone_number" name="phone_number">
        </div>
        <div class="mb-3">
            <label for="image">Ảnh</label>
            <input type="text" class="form-control" id="image" name="image">
        </div>
        <div class="mb-3">
            <label for="name">Tên sinh viên</label>
            <input type="text" class="form-control" id="name" name="name">
        </div>
        <button type="submit" class="btn btn-primary">Thêm sinh viên</button>
    </form>
</body>

</html>