<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/css/header.css">
    <title>MyUET Home</title>
</head>

<body>
    <header>
        {{>header}}
    </header>
    <script src="/scripts/header.js"></script>

</body>

</html>