<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>MyUET Home</title>
</head>

<body>
  {{#if admin}}
  <p>Admin home</p>
  {{else}}
  <p>Home</p>
  {{/if}}

</body>

</html>