<!DOCTYPE html>
<!-- === Coding by CodingLab | www.codinglabweb.com === -->
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- ===== Iconscout CSS ===== -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

    <!-- ===== CSS ===== -->
    <link rel="stylesheet" href="/css/login.css">

    <!--<title>Login & Registration Form</title>-->
</head>

<body>
    <div class="container">
        <div class="forms">
            <div class="banner"></div>
            <div class="form login">
                <span class="title">ĐĂNG NHẬP </span>

                <form action="/login" method="post">
                    <div class="input-field" style="">
                        <input type="text" name="username" class="email" placeholder="Nhập mã số sinh viên" required>
                        <i class="uil uil-envelope icon"></i>
                    </div>
                    <div class="input-field" style="">
                        <input type="password" name="password" class="password" placeholder="Nhập mật khẩu" required>
                        <i class="uil uil-lock icon"></i>

                    </div>
                    {{#if message}}
                    <div id="message" class="alert alert-danger">{{message}}</div>
                    {{/if}}
                    {{#if logoutMessage}}
                    <div id="logoutMessage">
                        <div class="alert alert-danger">{{logoutMessage}}</div>
                    </div>
                    {{/if}}
                    <div class="input-field button" style="">
                        <input type="submit" value="Login" style="margin-left: 0%">
                    </div>
                </form>
            </div>

        </div>
    </div>

    <script src="/scripts/login.js"></script>
</body>

</html>