<html lang="en">

<head>
    <link rel="stylesheet" type="text/css" href="/css/wrapper.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</head>

<body>

    <div class="wrapper">
        <div class="shadow"></div>
        <div class="side_bar">
            <div class="side_bar_top">
                <div class="logo_wrap">
                    <a href="#">
                        <img src="/img/logo.png" alt="logo">
                        <span class="text"></span></a>
                </div>
                <div class="side_bar_menu">
                    <div class="menu"><ion-icon class="i" name="arrow-forward-outline"></ion-icon>
                    </div>
                </div>
            </div>
            <div class="side_bar_bottom">
                <ul>
                    <li class="active">
                        <span class="top_curve"></span>
                        <a id="home" href="#">
                            <span class="icon"><ion-icon name="home-sharp"></ion-icon> </span>
                            <span class="item">Trang chủ</span></a>
                        <span class="bottom_curve"></span>
                    </li>
                    <li>
                        <span class="top_curve"></span>
                        <a id="courses_in_progress" href="#">
                            <span class="icon"><ion-icon name="book"></ion-icon></span>
                            <span class="item">Khóa học</span></a>
                        <span class="bottom_curve"></span>
                    </li>
                    <li>
                        <span class="top_curve"></span>
                        <a id="timetable" href="#">
                            <span class="icon"><ion-icon name="calendar"></ion-icon></span>
                            <span class="item">Thời khóa biểu</span></a>
                        <span class="bottom_curve"></span>
                    </li>
                    <li>
                        <span class="top_curve"></span>
                        <a id="attendace" href="#">
                            <span class="icon"><ion-icon name="hand-left"></ion-icon></span>
                            <span class="item">Lịch sử điểm danh</span></a>
                        <span class="bottom_curve"></span>
                    </li>
                    <li>
                        <span class="top_curve"></span>
                        <a id="mark" href="#">
                            <span class="icon"><ion-icon name="hand-left"></ion-icon></span>
                            <span class="item">Điểm số</span></a>
                        <span class="bottom_curve"></span>
                    </li>
                    <li>
                        <span class="top_curve"></span>
                        <a id="profile" href="#">
                            <span class="icon"><ion-icon name="person"></ion-icon></span>
                            <span class="item">Thông tin cá nhân</span></a>
                        <span class="bottom_curve"></span>
                    </li>
                    <li>
                        <span class="top_curve"></span>
                        <a href="https://uet.vnu.edu.vn/chuong-trinh-dao-tao-nganh-khoa-hoc-may-tinh-chat-luong-cao-3/">
                            <span class="icon"><ion-icon name="help-circle"></ion-icon></span>
                            <span class="item">Chương trình đào tạo</span></a>
                        <span class="bottom_curve"></span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="main_container">
            <div id="displayHTML"></div>
        </div>
    </div>

    <script src="/scripts/wrapper.js"></script>

</body>

</html>